regularni_vyrazy/metadata-settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="DistillSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="File" type="xs:string"/>
                <xs:element name="Encoding" type="xs:string"/>
                <xs:element name="Author" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
